@import '../../common/styles/colors';

.loginBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: ghostwhite;
  .formBlock {
    display: flex;
    justify-content: center;
    background-color: $cardColor;
    width: 70%;
    padding: 40px;
    border-radius: 10px;
  }
  .loginFormBlock {
    width: 50%;
    height: 90%;
    h1 {
      margin-bottom: 20px;
      color: gold;
    }
  }
}
